body{
    background-color: #ACACAC; /*  cor de fundo*/
}
/* formulario para se logar*/
.form{
    display: flex; /*  tela flexivel*/
    flex-direction:column ; /*  direção do flex*/
    align-items: center; /*  alinhando itens do formulario para o centro*/
    text-align: center; /*  deixando os textos alinhados no centro*/
}
/* logo do site como botao para voltar */
.logo{
    width: 150px; /*  definindo a largura para 150 pixeis*/
    height: auto; /*  definindo uma altura automaticamente*/
}

.iconcl{
    color: blue; /*  definindo a cor para azul*/
    font-size: 35px; /*  definindo o tamanho da fonte*/
}

.container-cad{
    background-color: #83b4ff; /*  definindo a cor de fundo*/
    border: solid black 2px; /* deixando a borda solida, definindo a cor e dando tamanho para borda*/
    border-radius: 5px; /* arredonda a borda*/
    width: 25vw; /*  define a largura*/
    box-shadow: 10px 10px 20px black; /* definindo sombra e cor da sombra*/

}

.btn{
    color: white ; /* definindo a cor*/
    margin-top: 20px; /* definindo uma margem na parte superior*/
    background-color: black; /* definindo uma cor de fundo*/
    border-radius: 10px; /* arredonda a borda*/
    width: 8vw; /* definindo a largura*/
    margin-bottom: 10px; /* definindo uma margem na parte inferior*/
    box-shadow: 0px 0px 10px black; /* definindo sombra e cor da sombra*/
}

label{
    font-family: Georgia;
}

input{
    border-radius: 10px;
    width: 17vw;
    height: 15px;
}

@media screen and (max-width: 599px) and (min-width: 0px) {

    .container-cad{
        border: solid black 2px;
        border-radius: 5px;
        width: 44vw;
        box-shadow: 10px 10px 20px black;
    
    }
    
    .btn{
        color: white ;
        margin-top: 20px;
        background-color: black;
        border-radius: 10px;
        width: 12vw;
        margin-bottom: 10px;
        box-shadow: 0px 0px 10px black;
    }
    
    input{
        border-radius: 10px;
        width: 30vw;
    }
    
}

@media screen and (max-width: 999px) and (min-width: 600px) {

    .container-cad{
        border: solid black 2px;
        border-radius: 5px;
        width: 33vw;
        box-shadow: 10px 10px 20px black;
    
    }
    
    .btn{
        color: white ;
        margin-top: 20px;
        background-color: black;
        border-radius: 12px;
        width: 12vw;
        margin-bottom: 10px;
        box-shadow: 0px 0px 10px black;
    }
    
    input{
        border-radius: 10px;
        width: 25vw;
    }

}