@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* define todos elementos */
* {
    margin: 0; /* define a margem para 0 */
    padding: 0; /* define o espaçamento inferior para 0 */
    box-sizing: border-box; /* define o tamanho da caixa */
}
/* define o corpo da pagina */
body {
    margin: 0px; /* define a margem */
    padding: 0px; /* define o espaçamento inferior */
    width: 100%; /* define a largura */
    height: 100vh; /* define a autura */
    position: relative; /* define a posição */
    background-color: #acacac; /* define a cor de fundo */
    font-family: sans-serif; /* define a fonte da familia */
    text-transform: capitalize; /* define uma transformação do texto */
}

/*TODO: css menu começa aqui */
ul {
    margin: 0px; /* define a margem */
    padding: 0px; /* define o espaçamento inferior */
}
/* define um container do menu */
.a_menu {
    color: black; /* define a cor */
    text-decoration: none; /* remove a decoração do texto */
    font-family: sans-serif; /* define a familia da fonte */
    align-items: center; /* define o alinhamento dos itens para o centro */
    border: #000 solid 1px; /* da uma definição para borda */
    border-radius: 5%; /* define o arrendondamento da borda */
}

/* icones de carrinho e login */
.iconlb {
    border: none; /* remove a borda */
    padding: 10px; /* define o espaçamento inferior */
    color: #000; /* define uma cor */
}

/* hover dos links de paginas menu */
a:hover {
    background: rgba(0, 0, 0, 0.05);/* define a cor de fundo */
}

/* logo do site imagem */
.logo {
    margin-left: 20px; /* define a margem esquerda */
    width: 170px; /* define a largura */
    height: auto; /* define a altura para automatico */
}

/* menu inteiro */
#header {
    box-sizing: border-box; /* define o tamanho da borda */
    height: 150px; /* define a altura */
    padding: 1rem; /* define o espaçamento inferior */
    display: flex; /* tela flexivel */
    align-items: center; /* alinha os itens para o centro */
    justify-content: space-between; /* justifica o conteudo */
    background: #e7e7e7; /* define a cor de fundo */
}

/* menu dos links para paginas central */
#nav {
    display: flex; /* tela flexivel */
    justify-content: center; /* justifica o conteudo para centro */
    margin-left: 2%; /* define a margem para esquerda */
    align-items: center; /* define os itens para o centro */
    width: 100%; /* define a largura */
}

/* dic para o login e carrinho */
.nav-buttons {
    display: flex; /* tela flexivel */
    align-items: center; /* alinha os itens para o centro */
    margin-left: auto; /* define a margem para esquerda */
    margin-right: 25px; /* define uma margem para direita */
    gap: 0.5rem; /* define o espaçamento entre os itens */
}
/* css para o botao sair ficar embaixo do login */
.user-info {
    display: flex; /* tela flexivel */
    flex-direction: column; /* define a direção da tela */
    margin-left: auto; /* define a margem para automatico */
    text-align: right; /* define o alinhamento do texto para direita */
}
/* define a configuração do elemento */
#menu {
    display: flex; /* tela flexivel */
    justify-content: center; /* justifica o conteudo para o centro */
    align-items: center; /* alinha os itens para o centro */
    list-style: none; /* remove a lista de estilos */
    gap: 0.5rem; /* espaçamento entre os itens */
    margin: 0 auto; /* define uma margem */
    margin-left: 250px;/* adiciona uma margem esquerda*/
}
/* define as configurações para o botão sair */
.sair-btn{
    font-family: Arial, Helvetica, sans-serif; /* define a fonte da familia */
    color: red; /* define a cor */
    text-decoration: none; /* remove a decoração do texto */
}
/* define as configurações dos links */
.cart a,
.login a {
    display: flex; /* tela flexivel */
    align-items: center; /* alinha os itens para o centro */
    justify-content: center; /* justifica o conteudo para o centro */
    padding: 0.5rem; /* define o espaçamento inferior */
}
/* define o icone */
.cart i {
    font-size: 1.2rem; /* define o tamanho da fonte */
}
/* define os links do menu */
#menu a {
    display: block; /* define o display para block */
    padding: 0.7rem; /* define o espaçamento inferior */
}
/* define o botão mobile */
#btn-mobile {
    display: none; /* define para não aparecer */ 
}

/* TODO: Content home */

/** div imagens index topo */
.baanners {
    display: flex;/* tela flexivel */
    flex-direction: column; /* define a direção do display */
    justify-content: center; /* justifica o conteudo para centro */
    align-items: center; /* alinha os itens para o centro */
    
}

/** imagem principal abaixo do menu */
.xuxu {
    width: 1100px; /* define a largura */
    height: auto; /* define a altura para automatico */
    padding: 5%; /* define o espaçamento inferior */
}

/** segunda imagem da index */
.abobrinha {
    width: 1200px; /* define a largura */
    height: 200px; /* define a altura */
    padding: 2%; /* define o espaçamento inferior */
}

/* *titulo produtos destaque  */
.titulo-paginas {
    max-width: 500px; /* define a largura maxima */
    margin: 0 auto; /* centraliza o contêiner */
    text-align: center; /* centraliza o texto */
}
/* configura o titulo */
h1 {
    padding: 30px; /* define o espaçamento inferior */
    font-family: Arial, Helvetica, sans-serif; /* define a familia da fonte */
    border-bottom: 3px solid #83b4ff; /* define a borda de baixo */
}

/* TODO: css card de produtos */

.container {
    display: flex; /* tela flexivel */
    justify-content: space-evenly; /* justifica o conteudo */
    flex-wrap: wrap; /* quebra de itens em linha */
    margin: 0 auto; /* define a margem */
}
/* define o container e o card do produto */
.container .product-card {
    background: #fafafa; /*define a cor de fundo  */
    padding: 7px; /* define o espaçamento inferior */
    margin: 20px; /* define a margem */
    text-align: center; /* centraliza o texto */
    border-radius: 15px; /* faz a borda ficar redonda */
}
/* define o conteiner do produto */
.container .product {
    background: #fafafa;/* define a cor de fundo */
    padding: 7px; /* define o espaçamento inferior */
    margin: 20px; /* define a margem */
    text-align: center; /* centraliza o texto */
    border-radius: 15px; /* deixa a borda redonda */
    height: 400px; /* altura fixa para o produto */
}
/* define o conteiner da imagem */
.container .product .image {
    height: 250px; /* altura fixa para a imagem */
    margin: auto; /* define a margem */
}
/* define o container da imagem do produto */
.container .product .image .product-image {
    width: 100%; /* define a largura */
    height: 100%; /* define a altura */
    object-fit: contain; /* para imagem preencher todo campo da div */
    transition: 0.8s linear; /* faz uma transição linear */ 
}
/* define a configuração do titulo do produto */
.container .product .title {
    font-size: 22px; /*  define o tamanho do texto*/
    text-align: center; /* para alinhar o texto ao centro */
}
/* define a configuração do detalhe do produto */
.container .product .detail {
    text-align: center; /* centraliza o texto */
}
/* define o texto do detalhe do produto */
.container .product .detail p {
    margin: 15px; /* define a margem */
    font-size: 25px; /* define o tamnho da fonte */
}
/* define a configuração do span do detalhe do produto */
.container .product .detail p span {
    color: blue;/* define a cor para azul */
}
/*  define a configuração do link do detalhe do produto */
.container .product .detail a {
    text-decoration: none;/* remove a decoração do texto */
    background: rgb(12, 77, 255); /* define a cor de fundo */
    padding: 8px 45px; /* define o espaçamento inferior */
    border-radius: 8px; /* faz a borda ficar redonda */
    color: white; /* define a cor */
    margin: 15px; /* define a margem */
}

/* TODO: config dos videos abaixo */

.videos-all {
    display: flex; /* tela flexivel */
    justify-content: space-evenly; /* justifica o conteudo */
    margin-bottom: 50px; /* define uma margem para a parte inferior */
}

/* TODO: FOOTER CSS */

.pFooter {
    color: #5a5a5a;/* define a cor */
    text-transform: lowercase; /* define uma transformação prara o texto */
}
/* container do footer */
.container-footer {
    max-width: 1170px; /* define o maximo da largura */ 
    margin: auto; /* define uma margem automatica */
}
/* define a configuração do rodapé */
.footer {
    background-color: #e7e7e7; /* define uma cor de fundo */
    padding: 70px 0; /* define o espaçamento inferior */
}
/* configuração da linha */
.row {
    display: flex; /* tela flexivel */
    flex-wrap: wrap; /* quebra de itens em linha */
}
/* define o tamnho do rodapé */
.footer-col {
    width: 25%; /* define a largura */ 
    padding: 0 15px; /* define o espaçamento inferior */
}
/* da configuração para o titulo */
.footer-col h4 {
    font-size: 18px; /* tamnho da fonte */
    color: #000; /* define uma cor */
    margin-bottom: 25px; /* define uma margem na parte inferior */
    font-weight: 500; /* define a grossura da fonte */
    position: relative; /* define a posição */
}
/* da configuração para o titulo antes */
.footer-col h4::before {
    content: ""; /* define o conteudo */
    position: absolute; /* define a posição */
    left: 0; /* esquerda */
    bottom: -10px; /* parte inferior */
    background: rgb(0, 25, 255); /*  cor de fundo*/
    height: 2px; /* define a altura */
    box-sizing: border-box; /* define o tamanho da box */
    width: 50px; /* define a largura */
}
/*  visa o elemento ul dentro da classe .footer-col */
.footer-col ul {
    list-style: none;/* visa uma lista não ordenada */
}
/* visa o link dos elementos li dentro do elemento ul dentro da classe footer-col */
.footer-col ul li a {
    font-size: 16px;/* define o tamanho da fonte */
    text-decoration: none; /* remove a decoração do texto */
    color: #24262b; /* define uma cor */
    display: block; /* não modificar o posicionamento do elemento */
    padding: 5px; /* define o espaçamento inferior */
    transition: all 0.3s ease; /* define uma transição */
}
/* define uma configuração para quando o cursor do mouse passa por cima do link */
.footer-col ul li a:hover {
    background-color: #83b4ff; /* define uma cor */
}
/* define uma configuração para quando o cursor do mouse passa por cima do elemento li */
.footer-col ul li:hover {
    color: #fff; /* define uma cor */
    padding-left: 6px; /* define o espaçamento na parte inferior */
}
/* definição para o link dentro da classe .social-link dentro da classe .footer-col */
.footer-col .social-link a {
    display: inline-block; /* não modifica o posicionamento do elemento e deixa-o em linha */
    height: 40px; /* define uma altura */
    width: 40px; /* define uma largura */
    background: rgba(0, 0, 0, 0.2); /* define uma cor de fundo */
    margin: 0 10px 10 0px; /* define uma margem */
    text-align: center; /* alinha os textos para o centro */
    line-height: 40px; /* define a altura da linha */
    border-radius: 50%; /* define uma borda redonda */
    color: #000; /* define uma cor */
    transition: all 0.5s ease; /* define uma transição */
}
/* define uma configuração para quando o cursor do mouse passa por cima do link dentro da classe .social-link */
.footer-col .social-link a:hover {
    color: #24262b; /* define uma cor */
    background: #83b4ff; /* define uma cor de fundo */
}
/* define configurações para a classe .img-footer */
.img-footer{
    width: 100px;/* define uma largura */
    height: auto; /* define uma altura */
    padding: 5px; /* define o espaçamento inferior */
    margin-top: 2%; /* define uma margem para a parte superior */
}

/* ! RESPONSIVIDADE TABLET */
@media (max-width: 800px) {
    /* define uma configuração para classe .xuxu */
    .xuxu {
        width: 700px; /* define uma largura */
        height: auto; /* define uma altura automatica */
    }
    /* define uma configuração para classe .abobrinha */
    .abobrinha {
        width: 700px; /* define uma largura */
        height: auto; /* define uma altura automatica */
    }

    /* TODO: css card de produtos */
    /* define uma configuração para classe .container */
    .container {
        width: 700px; /* define uma largura */
        display: flex; /* permite com que modifique o posicionamento do objeto */
        flex-direction: row; /* define a direção do objeto */
        justify-content: center; /* justifica o conteudo */
        align-items: flex-start; /* alinha os itens */
        flex-wrap: wrap; /* quebra de itens em linha */
        margin-left: 5px; /* define uma margem */
    }
    /* define uma configuração para classe .product dentro da classe .container */
    .container .product {
        background: #fafafa; /* define uma cor de fundo */
        padding: 7px; /* define um espaçamento na parte inferior */
        margin: 20px; /* define uma margem */
        text-align: center; /* alinha o texto para o centro */
        border-radius: 15px; /* deixa a borda redonda */
    }

    /* TODO: videos css */

    .videos-all {
        display: flex; /* permite com que modifique o posicionamento do objeto */
        width: 500px; /* define uma largura */
        margin-left: 170px; /* define uma margem para parte esquerda */
        justify-content: center; /* justifica o conteudo para centro */
        flex-direction: column; /* define a direção do objeto */
    }

    /* *Responsi menu */
    /* define uma configuração para os objetos que tem esse ID */
    #menu {
        display: block; /* não modifica o posicionamento do objeto */
        position: absolute; /* define uma posição absoluta */
        width: 100%; /* define uma largura */
        top: 70px; /* define um topo */
        right: 0px; /* define um tamanho para parte direita */
        background: #e7e7e7; /* define uma cor de fundo */
        transition: 0.6s; /* define uma transição */
        z-index: 1000; /* sobrepõe os itens que tem z-index menor */
        height: 0px; /* define uma altura */
        visibility: hidden; /* define uma visibilidade */
        overflow-y: hidden; /* controlar o comportamento de exibição do conteúdo verticalmente */
    }
    /* define uma configuração para classe .logo */
    .logo {
        margin-left: 5px; /* define uma margem */
        width: 150px; /* define uma largura */
        height: auto; /* define uma altura */
    }
    /* define uma configuração para o id menu dentro do elemento que tenha o id nav e a classe .active */
    #nav.active #menu {
        height: calc(100vh - 70px); /* define uma altura */
        visibility: visible; /* define a visibilidade */
        overflow-y: auto; /* controla a exibição do conteudo verticalmente */
        margin-top: 50px; /* define uma margem para a parte superior */
    }
    /* define uma configuração para o link dentro do id menu */
    #menu a {
        padding: 1rem 0; /* define o espaçamento inferior */
        margin: 0 1rem; /* define uma margem */
        border-bottom: 2px solid rgba(0, 0, 0, 0.05); /*  define uma borda redonda */
    }
    /* definições para o id btn-mobile */
    #btn-mobile {
        display: flex; /* permite com que modifique o posicionamento do objeto */
        padding: 0.5rem 1rem; /* define o espaçamento inferior */
        font-size: 1rem; /* define um tamanho para fonte */
        border: none; /* remove a borda */
        background: none; /* remove o fundo */
        cursor: pointer; /* define o cursor para clicavel */
        gap: 0.5rem; /* define o espaçamento entre os itens */
    }
    /* definições para o id hamburger */
    #hamburger {
        border-top: 2px solid; /* define uma borda na parte superior */
        width: 20px; /* define uma largura */
    }
    /* definições para antes e apos a transição do id hamburger */
    #hamburger::after,
    #hamburger::before {
        content: ""; /*  define o conteudo para nada */
        display: block; /* não modifica o posicionamento do objeto */
        width: 20px; /* define a largura */
        height: 2px; /* define uma altura */
        background: currentColor; /* define a cor atual para o fundo */
        margin-top: 5px; /* define uma margem para o topo */
        transition: 0.3s; /* define uma trasição */
        position: relative; /* define a posição para relativa */
    }
    /* define uma configuração para o id hamburger dentro do elemento que tenha o id nav e a classe .active */
    #nav.active #hamburger {
        border-top-color: transparent; /* define uma cor para a borda do topo */
    }
    /* define uma configuração para o id hamburger dentro do elemento que tenha o id nav e a classe .active antes */
    #nav.active #hamburger::before {
        transform: rotate(135deg);/* faz uma rotação de 135 graus */
    }
    /* define uma configuração para o id hamburger dentro do elemento que tenha o id nav e a classe .active depois */
    #nav.active #hamburger::after {
        transform: rotate(-135deg); /* faz uma rotação de -135 graus */
        top: -7px; /* remove 7 pixeis do topo */
    }

    /* !footer */
    .footer-col {
        width: 50%; /* define uma largura */
        margin-bottom: 30px; /* define uma margem para parte inferior */
    }
}

/*! RESPONSIVIDADE MOBILE  */
@media (max-width: 600px) {
    /* define uma configuração para classe .xuxu */
    .xuxu {
        width: 500px; /* define uma largura */
        height: auto;   /* define uma altura automatica */
    }
    /* define uma configuração para classe .abobrinha */
    .abobrinha {
        width: 500px;/* define uma largura */
        height: auto; /* define uma altura automatica */
    }

    /* TODO: css card de produtos */
    /* define uma configuração para classe .container */
    .container {
        display: flex; /* permite com que modifique o posicionamento do objeto */
        flex-direction: column; /* define uma direção para o objeto */
        justify-content: space-evenly; /* justifica o conteudo */
        align-items: flex-start; /* alinha os itens */
        flex-wrap: nowrap; /* quebra os itens em linha */
        margin-left: 70px; /* define uma margem */
    }
    /* define uma configuração para classe .product dentro da classe .container */
    .container .product {
        background: #fafafa; /* define uma cor de fundo */
        padding: 7px; /* define o espaçamento inferior */
        margin: 20px; /* define uma margem */ 
        text-align: center; /* alinha os textos ao centro */
        border-radius: 15px; /* deixa a borda redonda */
    }

    /* TODO: videos css */

    .videos-all {
        display: flex; /* permite com que modifique o posicionamento do objeto */
        margin-left: 50px; /* define uma margem para esquerda */
        flex-direction: column; /* define uma direção para o objeto */
    }

    /** responsiv menu aqui */
    #menu {
        display: block; /* não permite com que modifique o posicionamento do objeto */
        position: absolute; /* define a posição absoluta */
        width: 100%; /* define uma largura */
        top: 70px; /* define um topo */
        right: 0px; /* define a parte direita */
        background: #e7e7e7; /* define uma cor de fundo */
        transition: 0.6s; /* define uma transição */
        z-index: 1000; /*  sobrepõe o z-index com um valor menor */
        height: 0px; /* define uma altura */
        visibility: hidden; /* define a visibilidade */
        overflow-y: hidden; /* controla o comportamento de exibição verticalmente */
    }
    /* define uma configuração para classe .logo */
    .logo {
        margin-left: 5px; /* define a margem esquerda */
        width: 150px; /* define a largura */
        height: auto; /* define uma altura automatica */
    }
    /* define uma configuração para o id menu dentro do elemento que tenha o id nav e a classe .active */
    #nav.active #menu {
        height: calc(100vh - 70px); /* define uma altura */
        visibility: visible; /* define a visibilidade */
        overflow-y: auto; /* controla o comportamento de exibição verticalmente */
        margin-top: 50px; /* define uma margem para o topo */
    }
    /* define uma configuração para o link dentro do id menu */
    #menu a {
        padding: 1rem 0; /* define o espaçamento inferior */
        margin: 0 1rem; /* define uma margem */
        border-bottom: 2px solid rgba(0, 0, 0, 0.05); /* define uma borda redonda */
    }
    /* definições para o id btn-mobile */
    #btn-mobile {
        display: flex; /* permite com que modifique o posicionamento do objeto */
        padding: 0.5rem 1rem; /* define o espaçamento inferior */
        font-size: 1rem; /* define o tamanho da fonte */
        border: none; /* remove a borda */
        background: none; /* remove o fundo */
        cursor: pointer; /* define o cursor para clicavel */
        gap: 0.5rem; /* define um espaçamento entre os itens */
    }
    /* definições para o id hamburger */
    #hamburger {
        border-top: 2px solid; /* define a configuração para o topo da borda */
        width: 20px; /* define uma largura */
    }
    /* definições para antes e apos a transição do id hamburger */
    #hamburger::after,
    #hamburger::before {
        content: ""; /* define o conteudo para vazio */
        display: block; /* não permite com que mude o posicionamento do objeto */
        width: 20px; /* define uma largura */
        height: 2px; /* define uma altura */
        background: currentColor; /* define o fundo para a cor atual */
        margin-top: 5px; /* define uma margem para o topo */
        transition: 0.3s; /* define uma transição */
        position: relative; /* define a posição relativa */
    }
    /* define uma configuração para o id hamburger dentro do elemento que tenha o id nav e a classe .active */
    #nav.active #hamburger {
        border-top-color: transparent; /* define a cor do topo da borda para transparente */
    }
    /* define uma configuração para o id hamburger dentro do elemento que tenha o id nav e a classe .active antes */
    #nav.active #hamburger::before {
        transform: rotate(135deg); /* faz uma rotação para 135 graus */
    }
    /* define uma configuração para o id hamburger dentro do elemento que tenha o id nav e a classe .active depois */
    #nav.active #hamburger::after {
        transform: rotate(-135deg); /* faz uma rotação para -135 graus */
        top: -7px; /* define o topo para -7 pixels */
    }

    /* ! footer */
    .footer-col {
        width: 100%; /* define uma largura */
    }
}
